openapi: 3.1.0
info:
  title: Incard API
  version: 0.0.1
  description: Incard platform API documentation
servers:
- url: https://api2.incard.uz/api
  description: Live
- url: https://api2.incard.uz/api
  description: Prod
security:
- http: []
paths:
  "/admin":
    get:
      operationId: admin.getAdmins
      tags:
      - Admin
      parameters:
      - name: page
        in: query
        schema:
          type: integer
        example: 20
      - name: limit
        in: query
        schema:
          type: integer
        example: 20
      - name: bankUser
        in: query
        schema:
          type: boolean
      - name: organizationId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/AdminDataObject"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
    post:
      operationId: admin.addAdmin
      tags:
      - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AdminActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      user_id:
                        type: string
                    required:
                    - user_id
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/admin/{userId}/show":
    get:
      operationId: admin.getAdmin
      tags:
      - Admin
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/UserDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/admin/bank":
    post:
      operationId: admin.storeBankAdmin
      tags:
      - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BankAdminActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      user_id:
                        type: string
                    required:
                    - user_id
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/admin/bank/{userId}/update":
    post:
      operationId: admin.updateBankAdmin
      tags:
      - Admin
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BankAdminEditActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      user_id:
                        type: string
                    required:
                    - user_id
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/admin/{userId}/update":
    post:
      operationId: admin.updateAdmin
      tags:
      - Admin
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AdminEditActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      user_id:
                        type: string
                    required:
                    - user_id
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/admin/profile":
    put:
      operationId: admin.updateProfile
      tags:
      - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ProfileEditActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    prefixItems:
                    - type: string
                    minItems: 1
                    maxItems: 1
                    additionalItems: false
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/admin/profile/password":
    put:
      operationId: admin.updateProfilePassword
      tags:
      - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserEditPasswordActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    prefixItems:
                    - type: string
                    minItems: 1
                    maxItems: 1
                    additionalItems: false
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/admin/{userId}/update-password":
    put:
      operationId: admin.updateUserPassword
      tags:
      - Admin
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserEditPasswordActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      user_id:
                        type: string
                    required:
                    - user_id
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/application":
    get:
      operationId: application.getApplications
      tags:
      - Application
      parameters:
      - name: title
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/ApplicationListDataObject"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
    post:
      operationId: application.addApplication
      tags:
      - Application
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ApplicationActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                    required:
                    - id
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/application/{id}/show":
    get:
      operationId: application.getApplication
      tags:
      - Application
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/ApplicationListDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/application/status-list":
    get:
      operationId: application.getApplicationStatuses
      tags:
      - Application
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        id:
                          type: integer
                      required:
                      - name
                      - id
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auth/login":
    post:
      operationId: api.login
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LoginActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/AuthDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
  "/auth/system/login":
    post:
      operationId: api.systemLogin
      tags:
      - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LoginActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/AuthDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
  "/auth/refresh-token":
    post:
      operationId: auth.refreshUserToken
      tags:
      - Auth
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/AuthDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auth/system/refresh-token":
    post:
      operationId: auth.refreshSystemAdminToken
      tags:
      - Auth
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/AuthDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auth/check-valid-token":
    get:
      operationId: auth.checkValidToken
      tags:
      - Auth
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      success:
                        type: boolean
                    required:
                    - success
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auth/get-me":
    get:
      operationId: auth.getMe
      tags:
      - Auth
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/UserDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auth/logout":
    put:
      operationId: api.logout
      tags:
      - Auth
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment":
    get:
      operationId: autoPayment.getAutoPayments
      tags:
      - AutoPayment
      parameters:
      - name: organizationId
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: startedAt
        in: query
        schema:
          type: string
      - name: contractUuid
        in: query
        schema:
          type: string
      - name: payerId
        in: query
        schema:
          type: string
      - name: branchId
        in: query
        schema:
          type: string
      - name: contractId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/AutoPaymentListViewModel"
                      totalAmount:
                        type: number
                      totalReverseAmount:
                        type: number
                      totalPaidAmount:
                        type: number
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalAmount
                    - totalReverseAmount
                    - totalPaidAmount
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
    post:
      operationId: autoPayment.addAutoPayment
      tags:
      - AutoPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AutoPaymentActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                    required:
                    - id
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
        '422':
          "$ref": "#/components/responses/ValidationException"
  "/auto-payment/{id}/show":
    get:
      operationId: autoPayment.getAutoPayment
      tags:
      - AutoPayment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/AutoPaymentViewModel"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment/status":
    patch:
      operationId: autoPayment.changeStatusAutoPayments
      tags:
      - AutoPayment
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
        '422':
          "$ref": "#/components/responses/ValidationException"
  "/auto-payment/action-states":
    get:
      operationId: autoPayment.getActionStates
      tags:
      - AutoPayment
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ActionStateDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment/download-export":
    get:
      operationId: autoPayment.downloadAutoPayExport
      tags:
      - AutoPayment
      parameters:
      - name: organizationId
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: startedAt
        in: query
        schema:
          type: string
      - name: contractUuid
        in: query
        schema:
          type: string
      - name: payerId
        in: query
        schema:
          type: string
      - name: branchId
        in: query
        schema:
          type: string
      - name: contractId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment/finish-org-autopay/{organizationId}":
    patch:
      operationId: autoPayment.finishOrganizationAutoPay
      tags:
      - AutoPayment
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment/send-paid-pinfl-search":
    post:
      operationId: autoPayment.sendPaidPinflSearch
      tags:
      - AutoPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PaidPinflSearchActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment-files/get-record-action-state-list":
    get:
      operationId: autoPaymentFiles.getRecordActionStateList
      tags:
      - AutoPaymentFiles
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        id:
                          type: integer
                      required:
                      - name
                      - id
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment-files/get-current-date-files":
    get:
      operationId: autoPaymentFiles.getCurrentDateFiles
      tags:
      - AutoPaymentFiles
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/AutoPaymentImportListViewModel"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment-files/get-archive-files":
    get:
      operationId: autoPaymentFiles.getArchiveFiles
      tags:
      - AutoPaymentFiles
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/AutoPaymentImportListViewModel"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment-files/get-file-info-by-file-id":
    get:
      operationId: autoPaymentFiles.getFileInfoByFileId
      tags:
      - AutoPaymentFiles
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        "$ref": "#/components/schemas/ResourceAutoInfoDataObject"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment-files/download-all-records-by-file-id/{id}":
    get:
      operationId: autoPaymentFiles.downloadAllRecordedFile
      tags:
      - AutoPaymentFiles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment-files/download-failed-records-by-file-id/{id}":
    get:
      operationId: autoPaymentFiles.downloadFailedRecordedFile
      tags:
      - AutoPaymentFiles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/auto-payment-files/download-real-file/{id}":
    get:
      operationId: autoPaymentFiles.downloadRealFile
      tags:
      - AutoPaymentFiles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/bank/select-list":
    get:
      operationId: bank.getBankSelection
      tags:
      - Bank
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/SelectionDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/branch":
    get:
      operationId: branch.getBranches
      tags:
      - Branch
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/BranchDataObject"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
    post:
      operationId: branch.addBranch
      tags:
      - Branch
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/BranchDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
        '422':
          "$ref": "#/components/responses/ValidationException"
  "/branch/select-list":
    get:
      operationId: branch.getSelectionBranches
      tags:
      - Branch
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/SelectionDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/branch/select-owned":
    get:
      operationId: branch.getSelectionOwnedBranch
      tags:
      - Branch
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/SelectionDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/branch/{branchId}/show":
    get:
      operationId: branch.getBranch
      tags:
      - Branch
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/BranchDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/branch/{branchId}":
    put:
      operationId: branch.updateBranch
      tags:
      - Branch
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/BranchDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
        '422':
          "$ref": "#/components/responses/ValidationException"
  "/card":
    get:
      operationId: card.getCards
      tags:
      - Card
      parameters:
      - name: isBlocked
        in: query
        schema:
          type: string
      - name: brand
        in: query
        schema:
          type: string
      - name: payerId
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: pinfl
        in: query
        schema:
          type: string
      - name: fio
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/CardListDataObject"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/manual-list":
    get:
      operationId: card.getManualCards
      tags:
      - Card
      parameters:
      - name: brand
        in: query
        schema:
          type: string
      - name: number
        in: query
        schema:
          type: string
      - name: fio
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/CardListManualDataObject"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/unknown-list":
    get:
      operationId: card.getUnknownCards
      tags:
      - Card
      parameters:
      - name: brand
        in: query
        schema:
          type: string
      - name: trusted
        in: query
        schema:
          type: string
      - name: source
        in: query
        schema:
          type: string
      - name: organizationId
        in: query
        schema:
          type: string
      - name: number
        in: query
        schema:
          type: string
      - name: pinfl
        in: query
        schema:
          type: string
      - name: fio
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/CardListViewModel"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/status-change":
    patch:
      operationId: card.changeStatus
      tags:
      - Card
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CardStatusUpdateActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/trusted-change":
    patch:
      operationId: card.changeTrusted
      tags:
      - Card
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CardTrustedActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/status-group-change":
    patch:
      operationId: card.changeGroupStatus
      tags:
      - Card
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CardGroupStatusUpdateActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/trusted-group-change":
    patch:
      operationId: card.changeGroupTrusted
      tags:
      - Card
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CardGroupTrustedActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/update-status":
    patch:
      operationId: card.updateStatus
      tags:
      - Card
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CardBlockUnblockActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/action-status-list":
    get:
      operationId: card.getActionStatusList
      tags:
      - Card
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/SelectionDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/card-brands":
    get:
      operationId: card.getCardBrands
      tags:
      - Card
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/SelectionDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/download-export":
    get:
      operationId: card.exportCards
      tags:
      - Card
      parameters:
      - name: brand
        in: query
        schema:
          type: string
      - name: trusted
        in: query
        schema:
          type: string
      - name: source
        in: query
        schema:
          type: string
      - name: organizationId
        in: query
        schema:
          type: string
      - name: number
        in: query
        schema:
          type: string
      - name: pinfl
        in: query
        schema:
          type: string
      - name: fio
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/confirm-card-by-import":
    post:
      operationId: card.confirmCardByImport
      tags:
      - Card
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/get-confirm-card-imports":
    get:
      operationId: card.getConfirmCardImportArchive
      tags:
      - Card
      parameters:
      - name: startDate
        in: query
        schema:
          type: string
      - name: endDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/ConfirmCardImportAchiveDataObject"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/card/download-confirm-card-import-file/{resourceId}":
    get:
      operationId: card.downloadConfirmCardImportFile
      tags:
      - Card
      parameters:
      - name: resourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/contract":
    get:
      operationId: contract.getContracts
      tags:
      - Contract
      parameters:
      - name: payerId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/ContractListViewModel"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/contract/select-list":
    get:
      operationId: contract.getContractSelectList
      tags:
      - Contract
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/ContractShortDataObject"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/dashboard/amount-count":
    get:
      operationId: dashboard.getAutoPyamentAmount
      tags:
      - Dashboard
      parameters:
      - name: organizationId
        in: query
        schema:
          type:
          - string
          - 'null'
      - name: type
        in: query
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/DashboardCountDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/dashboard/today-transactions":
    get:
      operationId: dashboard.getTodayTransactionInfo
      tags:
      - Dashboard
      parameters:
      - name: organizationId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      allTransactionInfo:
                        "$ref": "#/components/schemas/TodayTransactionInfoDataObject"
                      reversedTransactionInfo:
                        "$ref": "#/components/schemas/TodayTransactionInfoDataObject"
                    required:
                    - allTransactionInfo
                    - reversedTransactionInfo
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/dashboard/auto-payment-count-info":
    get:
      operationId: dashboard.getCurrentAutoPaymentCount
      tags:
      - Dashboard
      parameters:
      - name: organizationId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/DashboardCurrentAutoPaymentCountDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/dashboard/transaction-count-by-period":
    get:
      operationId: dashboard.getCountTransactionByPeriod
      tags:
      - Dashboard
      parameters:
      - name: organizationId
        in: query
        schema:
          type:
          - string
          - 'null'
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/DashboardCountByPeriodDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/dashboard/monthly-transaction-count":
    get:
      operationId: dashboard.getMonthlyTransactionCount
      tags:
      - Dashboard
      parameters:
      - name: organizationId
        in: query
        schema:
          type:
          - string
          - 'null'
      - name: date
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/DashboardMonthlyTransactionDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/dashboard/additional-counts":
    get:
      operationId: dashboard.getAdditionalCounts
      tags:
      - Dashboard
      parameters:
      - name: organizationId
        in: query
        schema:
          type:
          - string
          - 'null'
      - name: type
        in: query
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/DashboardCountDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/event-log":
    get:
      operationId: eventLog.getEventLogs
      tags:
      - EventLog
      parameters:
      - name: username
        in: query
        schema:
          type: string
      - name: endDate
        in: query
        schema:
          type: string
      - name: startDate
        in: query
        schema:
          type: string
      - name: branchId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/EventLogViewModel"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/event-log/types":
    get:
      operationId: eventLog.getEventTypes
      tags:
      - EventLog
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/EventLogTypeDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/external-service":
    get:
      operationId: externalService.getExternalServices
      tags:
      - ExternalService
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ExternalServiceDetailDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
    put:
      operationId: externalService.update
      tags:
      - ExternalService
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExternalServiceUpdateActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                    required:
                    - id
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/external-service/by-organization":
    get:
      operationId: externalService.getOrganizationExternalServices
      tags:
      - ExternalService
      parameters:
      - name: organizationId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ExternalServiceDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/external-service/{externalServiceId}/show":
    get:
      operationId: externalService.getExternalService
      tags:
      - ExternalService
      parameters:
      - name: externalServiceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ExternalServiceDetailDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/external-service/select-list":
    get:
      operationId: externalService.getSelectExternalService
      tags:
      - ExternalService
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/SelectionDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/external-service/check-auth":
    patch:
      operationId: externalService.checkAuth
      tags:
      - ExternalService
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExternalServiceCheckAuthActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/test-tr":
    post:
      operationId: file.storeUpdateTransaction
      tags:
      - File
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
        '422':
          "$ref": "#/components/responses/ValidationException"
  "/import-auto-payment-files/get-action-states":
    get:
      operationId: importAutoPaymentFile.getActionStates
      tags:
      - ImportAutoPaymentFile
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ActionStateDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/import-auto-payment-files/import-file-proc":
    post:
      operationId: importAutoPaymentFile.importAutoPayFile
      tags:
      - ImportAutoPaymentFile
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/import-auto-payment-files/import-file-proc/count":
    get:
      operationId: importAutoPaymentFile.importAutoPayFileCount
      tags:
      - ImportAutoPaymentFile
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/AutoPaymentImportCountDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/import-auto-payment-files/export-payment-stored-info":
    post:
      operationId: importAutoPaymentFile.getRecordFullFile
      tags:
      - ImportAutoPaymentFile
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/organization":
    get:
      operationId: organization.getOrganizations
      tags:
      - Organization
      parameters:
      - name: organizationId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          "$ref": "#/components/schemas/OrganizationListViewModel"
                      totalCount:
                        type: integer
                      limit:
                        type: integer
                      page:
                        type: integer
                    required:
                    - items
                    - totalCount
                    - limit
                    - page
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
    post:
      operationId: organization.store
      tags:
      - Organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OrganizationStoreActionData"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/OrganizationDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/organization/{organizationId}/show":
    get:
      operationId: organization.getOrganization
      tags:
      - Organization
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    "$ref": "#/components/schemas/OrganizationDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/organization/select-list":
    get:
      operationId: organization.getAllOrganizations
      tags:
      - Organization
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: array
                    items:
                      "$ref": "#/components/schemas/SelectionDataObject"
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
          "$ref": "#/components/responses/AuthenticationException"
  "/organization/notify-contacts":
    get:
      operationId: organization.getNotifyContacts
      tags:
      - Organization
      parameters:
      - name: organizationId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  result:
                    type: object
                    properties:
                      emailPush:
                        "$ref": "#/components/schemas/OrganizationNotifyEmail"
                      apiPush:
                        "$ref": "#/components/schemas/OrganizationNotifyApi"
                      smsPush:
                        "$ref": "#/components/schemas/OrganizationNotifySms"
                    required:
                    - emailPush
                    - apiPush
                    - smsPush
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - success
                - result
                - error
        '401':
[...]
